<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yc.ycvideoplayer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--音频-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>



    <application>
        <activity android:name="com.yc.ycvideoplayer.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"/>
        <activity android:name="com.yc.ycvideoplayer.video.activity.TypeActivity"/>
        <activity android:name="com.yc.ycvideoplayer.video.list.TestListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yc.ycvideoplayer.video.tiny.TestFullActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yc.ycvideoplayer.video.surface.TestSurfaceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
<!--        <activity android:name="com.yc.ycvideoplayer.newPlayer.activity.TypeActivity"-->
<!--            android:configChanges="orientation|keyboardHidden|screenSize"-->
<!--            android:screenOrientation="portrait"/>-->
        <activity android:name="com.yc.ycvideoplayer.video.activity.NormalActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yc.ycvideoplayer.video.activity.MultipleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yc.ycvideoplayer.video.tiktok.TikTok2Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yc.ycvideoplayer.video.tiktok.TikTok1Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yc.ycvideoplayer.video.danmu.DanmuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yc.ycvideoplayer.video.ad.AdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yc.ycvideoplayer.video.list.ContinuousVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yc.ycvideoplayer.video.clarity.ClarityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yc.ycvideoplayer.video.tiny.TinyScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yc.ycvideoplayer.video.pip.PipActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yc.ycvideoplayer.video.pip.PipListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yc.ycvideoplayer.music.MusicPlayerActivity"/>
        <activity android:name="com.yc.ycvideoplayer.m3u8.M3u8Activity"/>
        <activity android:name="com.yc.ycvideoplayer.audio.AudioActivity"/>
        <activity android:name="com.yc.ycvideoplayer.audio.TTSAudioActivity"/>
    </application>

</manifest>