<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yc.toollib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:label="@string/app_name">

        <activity
            android:name=".crash.CrashListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".crash.CrashDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".crash.CrashTestActivity"
            android:screenOrientation="portrait"/>
        <provider
            android:name="com.yc.baseclasslib.activity.BaseProvider"
            android:authorities="${applicationId}.baseProvider"
            android:exported="false" />
    </application>

</manifest>