{
    "code": 200,
    "msg": "ok",
    "result": [
        {
            "country": "Maldives",
            "temperature": "25-39℃",
            "coverImageUrl": "http://img.hb.aicdn.com/10dd7b6eb9ca02a55e915a068924058e72f7b3353a40d-ZkO3ko_fw658",
            "address": "Arabian Sea, Indian Ocean",
            "description": "Visitors to the Maldives do not need to apply for a visa pre-arrival, regardless of their country of origin, provided they have a valid passport, proof of onward travel, and the money to be self-sufficient while in the country.",
            "time": "6.10~3.31      8:00-20:00",
            "mapImageUrl": "http://img.hb.aicdn.com/3f04db36f22e2bf56d252a3bc1eacdd2a0416d75221a7c-rpihP1_fw658"
        },
        {
            "country": "USA",
            "temperature": "16-29℃",
            "coverImageUrl": "http://img.hb.aicdn.com/a3a995b26bd7d58ccc164eafc6ab902601984728a3101-S2H0lQ_fw658",
            "address": "Niagara Falls",
            "description": "The cities of Niagara Falls, Ontario, Canada, and Niagara Falls, New York, United States, are connected by two international bridges. The Rainbow Bridge, just downriver from the falls, affords the closest view.",
            "time": "3.25~10.21      9:00-17:00",
            "mapImageUrl": "http://img.hb.aicdn.com/09302f8c939c76bb920af0aa8ea0a7ea8ae286b8a6de-1Teqka_fw658"
        },
        {
            "country": "China",
            "temperature": "18-37℃",
            "coverImageUrl": "http://pic4.nipic.com/20091124/3789537_153149003980_2.jpg",
            "address": "Hunan Zhangjiajie",
            "description": "Zhangjiajie is a prefecture-level city in the northwestern part of Hunan province, People's Republic of China. It comprises the district of Yongding and counties of Cili and Sangzhi.We made all sail,and bore up for Hawaii. The beauty of the scenery bedazed all of us.",
            "time": "4.1~4.31      7:00-18:00",
            "mapImageUrl": "http://img.hb.aicdn.com/5342e50c6b6876b7cfde7dcdc3f89b290997624f37c56-qoOZli_fw658"
        },
        {
            "country": "Australia",
            "temperature": "18-31℃",
            "coverImageUrl": "http://img.hb.aicdn.com/4ba573e93c6fe178db6730ba05f0176466056dbe14905-ly0Z43_fw658",
            "address": "Fraser Island",
            "description": "Fraser Island is a heritage-listed island located along the south-eastern coast of the state of Queensland, Australia. It is approximately 250 kilometres (160 mi) north of the state capital, Brisbane.",
            "time": "5.21~8.15      6:00-24:00",
            "mapImageUrl": "http://img.hb.aicdn.com/9a592a3bb4235eb2a9efe2061b7962b91fda51da146a9b-9MnyBd_fw658"
        },
        {
            "country": "China",
            "temperature": "12-26℃",
            "coverImageUrl": "http://img.hb.aicdn.com/4bc60d00aa3184f1f98e418df6fb6abc447dc814226ef-ZtS8hB_fw658",
            "address": "Sichuan Jiuzhaigou Valley",
            "description": "Jiuzhaigou Valley is part of the Min Mountains on the edge of the Tibetan Plateau and stretches over 72,000 hectares. It is known for its many multi-level waterfalls, colorful lakes, and snow-capped peaks.",
            "time": "6.10~11.22      9:00-19:00",
            "mapImageUrl": "http://img.hb.aicdn.com/04e84f35444738307f4acf872138daca92e4c4bb2abe0-KB7srY_fw658"
        },
        {
            "country": "New Zealand",
            "temperature": "12-33℃",
            "coverImageUrl": "http://img.hb.aicdn.com/d9a48c272914c5253eceac26c51a56a26f4e50d048ba7-IJsbou_fw658",
            "address": "South Pacific Ocean",
            "description": "New Zealand has a strong presence among the Pacific Island countries. A large proportion of New Zealand's aid goes to these countries and many Pacific people migrate to New Zealand for employment.",
            "time": "5.9~12.11      5:00-22:00",
            "mapImageUrl": "http://img.hb.aicdn.com/bfd4cae9a22214d0c8ff812c72df072f5192081a4bc7f-a8bMYr_fw658"
        },
        {
            "country": "Fiji",
            "temperature": "18-39℃",
            "coverImageUrl": "http://img.hb.aicdn.com/03d474bbe20efb7df9aed4541ace70b53b53c70bdfe3-8djYVv_fw658",
            "address": "Koro Sea",
            "description": "For a country of its size, Fiji has fairly large armed forces, and has been a major contributor to UN peacekeeping missions in various parts of the world.For a country of its size, Fiji has fairly large armed forces, and has been a  major contributor to UN peacekeeping missions in various parts of the world.",
            "time": "6.1~12.12      6:00-21:00",
            "mapImageUrl": "http://img.hb.aicdn.com/92cd31abfec5cc1701066f7a77fbeebc730e39b150e61-X6vafO_fw658"
        },
        {
            "country": "England",
            "temperature": "8-23℃",
            "coverImageUrl": "http://img.hb.aicdn.com/004cddd40519846281526b4b25fbdea36b31d01e190dd-7zlmuG_fw658",
            "address": "The White Cliffs of Dover",
            "description": "The White Cliffs of Dover are cliffs that form part of the English coastline facing the Strait of Dover and France. The cliffs are part of the North Downs formation.",
            "time": "6.5~12.12      9:00-14:00",
            "mapImageUrl": "http://img.hb.aicdn.com/de1eb2f982c640ca0581bb2ccb3f620340757ba527ffca-DqKBOn_fw658"
        },
        {
            "country": "Indonesia",
            "temperature": "21-39℃",
            "coverImageUrl": "http://img.hb.aicdn.com/a58eda8a9a2a3f30f0a694c2702e1aba71d97d616d34f-rqv6FA_fw658",
            "address": "Bali Island",
            "description": "The tourism industry is primarily focused in the south, while significant in the other parts of the island as well.",
            "time": "8.10~12.29      7:00-23:00",
            "mapImageUrl": "http://img.hb.aicdn.com/434b325a54214319d0cc37ac090f3eaf78db8a4c1f6cf-n7Lxkv_fw658"
        },
        {
            "country": "Norway",
            "temperature": "6-18℃",
            "coverImageUrl": "http://img.hb.aicdn.com/41ff5110b4ecdec24e14f767e83c1659c2e8a180f3df-QqUAgk_fw658",
            "address": "Scandinavia",
            "description": "Norway's territory comprises the western portion of the Scandinavian Peninsula plus the island Jan Mayen and the archipelago of Svalbard.",
            "time": "9.12~11.11      6:00-15:00",
            "mapImageUrl": "http://img.hb.aicdn.com/3c515a7e4fac799d7f62bf6be045d8a287cb16f214b91-Y8N5wB_fw658"
        },
        {
            "country": "USA",
            "temperature": "0-11℃",
            "coverImageUrl": "http://img.hb.aicdn.com/80006ed344ed8dee7ad8142b3c4dc1b51cbf207c3097a-SGiu5P_fw658",
            "address": "Alaska",
            "description": "Cities not served by road, sea, or river can be reached only by air, foot, dogsled, or snowmachine, accounting for Alaska's extremely well developed bush air services—an Alaskan novelty.",
            "time": "7.22~11.18      9:00-14:00",
            "mapImageUrl": "http://img.hb.aicdn.com/8341ed2db4c5c386e20eddb33c7c7369ace3ed6c1ddfc-Ur1z3Y_fw658"
        },
        {
            "country": "Brazil",
            "temperature": "26-39℃",
            "coverImageUrl": "http://img.hb.aicdn.com/ade29e312dc44eb63aa6fd258cabcb4a217d88fb4959e-9qPoRi_fw658",
            "address": "Amazon River",
            "description": "Many branches begin flooding in November and may continue to rise until June. The rise of the Rio Negro starts in February or March and begins to recede in June.",
            "time": "9.9~11.4      14:00-18:00",
            "mapImageUrl": "http://img.hb.aicdn.com/2a81f586b936bb570c88d93681ea9ef089235772a5a8a-KVhjzP_fw658"
        },
        {
            "country": "Malaysia",
            "temperature": "17-36℃",
            "coverImageUrl": "http://img.hb.aicdn.com/d812c602d55419c278d826591d4996e744c629d6fb61-01BfFo_fw658",
            "address": "Redang Island",
            "description": "In contrast to the neighbouring Perhentian Islands, Redang has a more upmarket image, as almost all accommodation on the island is resort-based.",
            "time": "6.26~10.24      15:00-23:00",
            "mapImageUrl": "http://img.hb.aicdn.com/226ce6243ae187c107e1a22cfa7cc0763fe2bda9908c4-8foxjv_fw658"
        },
        {
            "country": "Philippine",
            "temperature": "21-39℃",
            "coverImageUrl": "http://img.hb.aicdn.com/1ce7724403f4613566d9d51ad5ead3a58f93220521c3f-fNA43p_fw658",
            "address": "Boracay Island",
            "description": "White Beach, the main tourism beach, is about four kilometers long and is lined with resorts, hotels, lodging houses, restaurants, and other tourism-related businesses.",
            "time": "2.1~12.21      10:00-20:00",
            "mapImageUrl": "http://img.hb.aicdn.com/cc9b7be6e08eaaea49a1bf45c7253fc498c166c525de1-pyRJON_fw658"
        },
        {
            "country": "Japan",
            "temperature": "13-30℃",
            "coverImageUrl": "http://img.hb.aicdn.com/e7d7f513744141140f0a34eb3f24540c96ea2b6050ad8-E44srp_fw658",
            "address": "Hokkaido",
            "description": "Unlike the other major islands of Japan, Hokkaido is normally not affected by the June–July rainy season and the relative lack of humidity and typically warm, rather than hot, summer weather makes its climate an attraction for tourists from other parts of Japan.",
            "time": "3.1~6.31      5:00-23:00",
            "mapImageUrl": "http://attachments.gfan.com/forum/attachments2/day_110422/1104222243bffe391469c3bee4.jpg"
        },
        {
            "country": "Russia",
            "temperature": "0-6℃",
            "coverImageUrl": "http://img.hb.aicdn.com/04beba3c6f48abc7d8cea6304f8673cfc3de8637322d2-WDz41G_fw658",
            "address": "Lake Baikal",
            "description": "Lake Baikal is the largest freshwater lake by volume in the world, and it is home to thousands of species of plants and animals, many of which exist nowhere else in the world.",
            "time": "6.21~9.5      6:00-18:00",
            "mapImageUrl": "http://img.hb.aicdn.com/607ea895fc7604744afb00e44caf14e711f764e9301c8-mpanyM_fw658"
        }
    ]
}