<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yc.alive.nova.ka">

    <application>

        <!-- 1 像素 Activity -->
        <activity
            android:name="com.yc.alive.ui.KAOnePxActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@style/KAOnePxStyle" />

        <!-- 1 像素 服务 -->
        <service android:name="com.yc.alive.service.KAOnePxService" />

        <!-- 辅助功能 服务 -->
        <service
            android:name="com.yc.alive.service.KAAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/ka_accessibility_service_config" />
        </service>
    </application>
</manifest>
