<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yc.toolutils">

    <application>
        <activity
            android:name=".permission.PermissionUtils$PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:multiprocess="true"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
    </application>

</manifest>