<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yc.appprocesslib">

    <application>
        <provider
            android:name="com.yc.appprocesslib.ProcessInitializer"
            android:authorities="${applicationId}.ProcessInitializer"
            android:exported="false" />
    </application>

</manifest>