<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yc.lifehelper">


    <application>
        <activity android:name="com.yc.lifehelper.ApmTestActivity"/>
        <activity android:name="com.yc.lifehelper.BlockListActivity"/>
    </application>


</manifest>