<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ycbjie.book" >


    <application>
        <activity android:name="com.ycbjie.book.activity.DoodleViewActivity"/>
        <activity android:name="com.ycbjie.book.activity.AirGameActivity"/>
        <activity android:name="com.ycbjie.book.activity.PinTuGameActivity"/>
        <activity android:name="com.ycbjie.book.activity.MonkeyGameActivity"/>
    </application>



</manifest>
