<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yc.apprestartlib">

    <application>
        <!--<service android:name="com.yc.apprestartlib.KillSelfService"
            android:process=":restart"/>-->
        <service android:name="com.yc.apprestartlib.ServiceRestartImpl$KillSelfService" />
    </application>
</manifest>