<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ycbjie.other" >

    <application>
        <activity android:name="com.ycbjie.other.ui.activity.AboutMeActivity"/>
        <activity android:name="com.ycbjie.other.ui.activity.MeFeedBackActivity"/>
        <activity android:name="com.ycbjie.other.ui.activity.ImageGalleryActivity"/>
        <activity android:name="com.ycbjie.other.ui.activity.MeLoginActivity"/>
        <activity android:name="com.ycbjie.other.ui.activity.MeRegisterActivity"/>
        <activity android:name="com.ycbjie.other.ui.activity.ZoomLargeImageActivity"/>
        <activity android:name="com.ycbjie.other.ui.activity.MeBannerActivity"/>
        <activity android:name="com.ycbjie.other.ui.activity.BannerViewActivity"/>
        <activity android:name="com.ycbjie.other.ui.activity.SnapHelperActivity"/>
        <activity android:name="com.ycbjie.other.ui.activity.ProgressFirstActivity"/>
        <activity android:name="com.ycbjie.other.ui.activity.ProgressSecondActivity"/>
        <activity android:name="com.ycbjie.other.ui.activity.ProgressThirdActivity"/>
        <activity android:name="com.ycbjie.other.ui.activity.MonkeyGameActivity"/>
        <activity android:name=".ui.activity.ScrollActivity"/>
        <activity android:name=".ui.activity.MixtureTextViewActivity"/>
        <activity android:name=".ui.activity.CloneAbleActivity"/>
    </application>


</manifest>
