<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ycbjie.note" >

    <application
        android:name=".app.NoteApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_note_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">

        <activity android:name=".ui.activity.NoteTestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ycbjie.note.ui.activity.NotePadNewActivity"/>
        <activity android:name="com.ycbjie.note.ui.activity.NotePadDetailActivity"/>
        <activity android:name="com.ycbjie.note.ui.activity.MdMainActivity"/>
        <activity android:name="com.ycbjie.note.ui.activity.MdNoteActivity"/>
        <activity android:name="com.ycbjie.note.ui.activity.MdDisplayActivity"/>
        <!--广播接收者-->
        <receiver android:name="com.ycbjie.note.receiver.ReminderReceiver"
            android:exported="false"/>
    </application>


</manifest>
