<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yc.jetpack">

    <application>
        <activity android:name="com.yc.jetpack.ui.activity.LoginActivity"/>
        <activity android:name="com.yc.jetpack.ui.activity.JetpackActivity"/>
        <activity android:name="com.yc.jetpack.study.navigation.NavigationActivity"/>
    </application>

</manifest>