<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ycbjie.note" >

    <application>

        <activity android:name="com.ycbjie.note.ui.activity.NotePadActivity"/>
        <activity android:name="com.ycbjie.note.ui.activity.NotePadNewActivity"/>
        <activity android:name="com.ycbjie.note.ui.activity.NotePadDetailActivity"/>
        <activity android:name="com.ycbjie.note.ui.activity.MdMainActivity"/>
        <activity android:name="com.ycbjie.note.ui.activity.MdNoteActivity"/>
        <activity android:name="com.ycbjie.note.ui.activity.MdDisplayActivity"/>
        <!--广播接收者-->
        <receiver android:name="com.ycbjie.note.receiver.ReminderReceiver"
            android:exported="false"/>
    </application>



</manifest>
