<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yc.appcontextlib">

    <application>
        <provider
            android:name="com.yc.appcontextlib.ToolInitProvider"
            android:authorities="${applicationId}.ToolInitProvider"
            android:exported="false" />
    </application>

</manifest>