<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ycbjie.news" >


    <application
        android:name=".app.NewsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_news_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        tools:replace="android:label"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".ui.activity.TxWeChatNewsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>
