<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.ycbjie.ycstatusbar">

    <application>
        <activity android:name="com.ycbjie.ycstatusbar.BarActivity"/>
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarColorActivity" />
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarColorToolBarActivity" />
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarTranslucent"/>
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarColorCoordinatorActivity" />
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarTranslucentCoordinatorActivity"/>
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarWhiteActivity"/>
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarWhiteToolBarActivity"/>
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarWhiteCoordinatorActivity"/>
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarWhiteCoordinatorActivity2"/>
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarWhiteCoordinatorActivity3"/>
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarFragmentActivity"/>
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarFragment2Activity"/>
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarFragment3Activity"/>
    </application>

</manifest>