<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ycbjie.todo" >

    <application
        android:name=".app.ToDoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_todo_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        tools:replace="android:label"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".ui.WorkDoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.ycbjie.todo.ui.activity.WorkNewActivity"/>
        <activity android:name="com.ycbjie.todo.ui.activity.WorkSettingActivity"/>
        <activity
            android:name="com.ycbjie.todo.ui.activity.SearchListActivity"
            android:label="任务"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/work_do_search"/>
        </activity>
        <service
            android:name="com.ycbjie.todo.service.WorkDoNotifyService"
            android:enabled="true"
            android:exported="true"/>
    </application>



</manifest>
