<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yc.activitymanager">

    <application>
        <provider
            android:name="com.yc.activitymanager.ManagerProvider"
            android:authorities="${applicationId}.baseProvider"
            android:exported="false" />
    </application>
</manifest>