<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ns.yc.lifehelper"
          android:versionCode="3"
          android:versionName="1.3">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <category android:name="android.intent.category.APP_MARKET" />
    <uses-permission android:name="android.permission.GET_TASKS"/>


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.guide.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.view.MainActivity"/>
        <activity android:name=".ui.guide.GuideActivity"/>
        <activity android:name=".ui.main.view.activity.DownLoadActivity"/>
        <activity android:name=".ui.main.view.activity.AboutMeActivity"/>
        <activity android:name=".ui.other.gank.view.activity.GanKHomeActivity"/>
        <activity android:name=".ui.other.gank.view.activity.GanKWebActivity"/>
        <activity android:name=".ui.other.gank.view.activity.GanKSearchActivity"/>

        <activity android:name=".ui.other.expressDelivery.ExpressDeliveryActivity"/>
        <activity android:name=".ui.other.expressDelivery.indexModel.SelectorCompanyActivity"/>
        <activity android:name=".ui.other.expressDelivery.activity.ExpressDeliveryInfoActivity"/>

        <activity android:name=".ui.other.douMovie.view.DouMovieActivity"/>
        <activity android:name=".ui.other.douMovie.view.activity.MovieTopActivity"/>
        <activity android:name=".ui.other.douMovie.view.activity.MovieDetailActivity"/>
        <activity android:name=".ui.other.douMovie.view.activity.MovieWebViewActivity"/>

        <activity android:name=".ui.other.douBook.view.DouBookActivity"/>
        <activity android:name=".ui.other.douBook.view.activity.DouBookDetailActivity"/>

        <activity android:name=".ui.other.douMusic.view.DouMusicActivity"/>
        <activity android:name=".ui.other.douMusic.view.activity.DouMusicDetailActivity"/>

        <activity android:name=".ui.other.toDo.ToDoTimerActivity"/>
        <activity android:name=".ui.other.toDo.view.ToDoAddActivity"/>

        <activity android:name=".ui.other.bookReader.view.BookReaderActivity"/>
        <activity android:name=".ui.other.bookReader.view.activity.ReaderSubjectActivity"/>
        <activity android:name=".ui.other.bookReader.bean.ReaderTopBookActivity"/>
        <activity android:name=".ui.other.bookReader.view.activity.SubHomeTopRankActivity"/>
        <activity android:name=".ui.other.bookReader.view.activity.SubTopRankActivity"/>
        <activity android:name=".ui.other.bookReader.view.activity.ReaderCategoryActivity"/>
        <activity android:name=".ui.other.bookReader.view.activity.SubCategoryListActivity"/>
        <activity android:name=".ui.other.bookReader.view.activity.ReadBookDetailActivity"/>
        <activity android:name=".ui.other.bookReader.view.activity.BookReaderDiscussionActivity"/>
        <activity android:name=".ui.other.bookReader.view.activity.BookReaderGirlActivity"/>
        <activity android:name=".ui.other.bookReader.view.activity.BookReaderHelpActivity"/>
        <activity android:name=".ui.other.bookReader.view.activity.BookReaderReviewActivity"/>
        <activity android:name=".ui.other.bookReader.view.activity.BookReaderLocalActivity"/>
        <activity android:name=".ui.other.bookReader.view.activity.BookReadPDFActivity"/>
        <activity android:name=".ui.other.bookReader.view.activity.BookReadPubActivity"/>
        <activity android:name=".ui.other.bookReader.view.activity.BookReadChmActivity"/>
        <activity android:name=".ui.other.bookReader.view.activity.BookDetailDiscussionActivity"/>
        <activity android:name=".ui.other.bookReader.view.activity.BookDetailHelpActivity"/>
        <activity android:name=".ui.other.bookReader.view.activity.ReadBookDetailSubjectActivity"/>

        <activity android:name=".ui.other.timer.TimerActivity"/>

        <activity android:name=".ui.other.myVideo.MyVideoActivity"/>

        <activity android:name=".ui.other.myMusic.MyMusicActivity"/>
        <activity android:name=".ui.other.myMusic.activity.MyMusicLocalActivity"/>
        <activity android:name=".ui.other.myMusic.activity.MyMusicSearchActivity"/>
        <activity android:name=".ui.other.myMusic.activity.MyMusicRippleActivity"/>

        <activity android:name=".ui.other.myKnowledge.MyKnowledgeActivity"/>
        <activity android:name=".ui.other.myKnowledge.activity.KnowledgeSearchActivity"/>
        <activity android:name=".ui.other.myKnowledge.activity.KnowledgeImageActivity"/>

        <activity android:name=".ui.other.myNews.wyNews.WyNewsActivity"/>
        <activity android:name=".ui.other.myNews.wxNews.WxNewsActivity"/>
        <activity android:name=".ui.other.myNews.wyNews.view.WxNewsDropActivity"/>
        <activity android:name=".ui.other.myNews.txNews.TxNewsActivity"/>
        <activity android:name=".ui.main.view.activity.WebViewActivity"/>
        <activity android:name=".ui.other.myNews.wxNews.view.NewsSearchActivity"/>
        <activity android:name=".ui.other.myNews.weChat.TxWeChatNewsActivity"/>
        <activity android:name=".ui.other.myNews.weChat.view.NewsContentActivity"/>

        <activity android:name=".ui.other.myTsSc.TangShiActivity"/>
        <activity android:name=".ui.other.myTsSc.SongCiActivity"/>
        <activity android:name=".ui.other.myTsSc.YuanQuActivity"/>
        <activity android:name=".ui.other.myTsSc.view.TangShiFirstActivity"/>
        <activity android:name=".ui.other.myTsSc.view.TangShiDetailActivity"/>
        <activity android:name=".ui.other.myTsSc.view.SongCiDetailActivity"/>
        <activity android:name=".ui.other.myTsSc.view.YuanQuDetailActivity"/>
        <activity android:name=".ui.other.myTsSc.view.TangShiSearchActivity"/>
        <activity android:name=".ui.other.myTsSc.view.TangShiSearchDetailActivity"/>


        <activity android:name=".ui.other.timeListener.TimeListenerActivity"/>

        <activity android:name=".ui.other.myPicture.MyPictureActivity"/>
        <activity android:name=".ui.other.myPicture.view.MyPicPileActivity"/>
        <activity android:name=".ui.other.myPicture.view.MyPicNiceActivity"/>
        <activity android:name=".ui.other.myPicture.view.MyPicBeautifulActivity"/>
        <activity android:name=".ui.other.myPicture.view.BeautifulGroupActivity"/>
        <activity android:name=".ui.other.myPicture.view.MyPicLargeActivity"/>

        <activity android:name=".ui.other.myNote.NoteActivity"/>
        <activity android:name=".ui.other.myNote.view.NoteAddActivity"/>
        <activity android:name=".ui.other.notePad.NotePadActivity"/>
        <activity android:name=".ui.other.notePad.activity.NotePadNewActivity"/>
        <activity android:name=".ui.other.notePad.activity.NotePadDetailActivity"/>

        <activity android:name=".ui.find.view.activity.RiddleActivity"/>
        <activity android:name=".ui.find.view.activity.RiddleDetailActivity"/>
        <activity android:name=".ui.data.view.activity.DoodleViewActivity"/>
        <activity android:name=".ui.other.weather.WeatherActivity"/>

        <activity android:name=".ui.other.sharpBendOfBrain.SharpBendOfBrainActivity"/>

        <activity android:name=".ui.me.view.activity.MeCollectActivity"/>
        <activity android:name=".ui.me.view.activity.MeFeedBackActivity"/>
        <activity android:name=".ui.me.view.activity.MeSettingActivity"/>
        <activity android:name=".ui.me.view.activity.MePersonActivity"/>
        <activity android:name=".ui.me.view.activity.MeQoneActivity"/>
        <activity android:name=".ui.me.view.activity.MeLoginActivity"/>
        <activity android:name=".ui.me.view.activity.MeRegisterActivity"/>

        <activity android:name=".ui.other.safe360.SafeHomeActivity"/>
        <activity android:name=".ui.other.safe360.activity.MobileSafeActivity"/>


        <activity android:name=".ui.other.listener.ListenerActivity"/>
        <activity android:name=".ui.other.mobilePlayer.MobilePlayerActivity"/>
        <activity android:name=".ui.other.mobilePlayer.activity.MobileVideoPlayActivity"
                  android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="rtsp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
                <data android:mimeType="application/sdp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:mimeType="video/mp4" />
                <data android:mimeType="video/3gp" />
                <data android:mimeType="video/3gpp" />
                <data android:mimeType="video/3gpp2" />
            </intent-filter>
        </activity>
        <!-- Don't forgot InitActivity -->
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.other.mobilePlayer.activity.MobileAudioPlayActivity"/>

        <!--服务-->
        <service android:name=".service.PicBeautifulService"/>
        <service android:name=".service.PicGroupService"/>
        <service android:name=".service.TimerService"/>
        <service android:name=".service.AudioPlayService"/>

        <!--广播接收者-->
        <receiver android:name=".receiver.TimerReceiver"/>

    </application>
.
</manifest>