<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ns.yc.lifehelper">


    <application
        android:name=".base.app.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_yc_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.guide.view.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.main.view.SchemeActivity"
            android:screenOrientation="portrait">
            <!--Android 接收外部跳转过滤器-->
            <!--要想在别的App上能成功调起App，必须添加intent过滤器-->
            <intent-filter>
                <!-- 协议部分配置 ,注意需要跟web配置相同-->
                <!--协议部分，随便设置 yc://ycbjie.cn:8888/from?type=yangchong  -->
                <data android:scheme="yc"
                    android:host="ycbjie.cn"
                    android:path="/from"
                    android:port="8888"/>
                <!--下面这几行也必须得设置-->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.guide.view.activity.SplashPagerActivity"/>
        <activity android:name=".ui.main.view.MainActivity"/>
        <activity android:name=".ui.guide.view.activity.GuideActivity"/>
        <activity android:name=".ui.guide.view.activity.SelectFollowActivity"/>
        <activity android:name=".ui.me.view.activity.MeTimerActivity"/>
        <activity android:name=".ui.find.view.activity.MyVideoActivity"/>
        <activity android:name=".ui.me.view.activity.MeCollectActivity"/>
        <activity android:name=".ui.me.view.activity.MeSettingActivity"/>
        <activity android:name=".ui.me.view.activity.MePersonActivity"/>
        <activity android:name=".ui.me.view.activity.MeLoginActivity"/>
        <activity android:name=".ui.me.view.activity.IndexJsActivity"/>
        <service android:name="com.ycbjie.library.base.app.InitializeService"/>
        <service android:name=".service.LoopRequestService"/>
    </application>

</manifest>