<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yc.monitorpinglib">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 获取WIFI信息状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取网络状态改变的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>
        <activity android:name="com.yc.monitorpinglib.MonitorPingActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>