<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yc.appmonitor">

    <application
        android:name=".MonitorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MonitorMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yc.appmonitor.crash.CrashTestActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yc.appmonitor.apm.ApmTestActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yc.appmonitor.apm.BlockListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yc.appmonitor.net.NetworkActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>