<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yc.photo" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>
        <activity android:name="com.yc.photo.ui.MatisseActivity"/>
        <activity android:name="com.yc.photo.internal.ui.AlbumPreviewActivity"/>
        <activity android:name="com.yc.photo.internal.ui.SelectedPreviewActivity"/>

        <!--添加provider，主要解决7.0拍照后存储图片的问题-->
        <!--<provider
            android:name="androidx.content.FileProvider"
            android:authorities="com.cheoo.photo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"/>
        </provider>-->
    </application>
</manifest>
