<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ycbjie.douban" >


    <application>

        <activity android:name=".view.activity.DouBookActivity"/>
        <activity android:name=".view.activity.DouBookDetailActivity"/>
        <activity android:name=".view.activity.DouMovieActivity"/>
        <activity android:name=".view.activity.DouMusicActivity"/>
        <activity android:name=".view.activity.DouMusicDetailActivity"/>
        <activity android:name=".view.activity.MovieDetailActivity"/>
        <activity android:name=".view.activity.MovieTopActivity"/>

    </application>



</manifest>
