<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yc.privacymonitor">

    <application>
        <provider
            android:name="com.yc.privacymonitor.helper.PrivacyProvider"
            android:authorities="${applicationId}.privacy-monitor-installer"
            android:enabled="@bool/privacy_monitor_auto_install"
            android:exported="false" />
    </application>

</manifest>