<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ycbjie.gank" >

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:name=".app.GankApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_gank_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        tools:replace="android:label"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".view.activity.GanKHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.GanKSearchActivity"/>
        <activity android:name=".view.activity.MyKnowledgeActivity"/>
        <activity android:name=".view.activity.KnowledgeImageActivity"/>
    </application>


</manifest>
