<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ycbjie.gank" >

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <application>
        <activity android:name=".view.activity.GanKHomeActivity"/>
        <activity android:name=".view.activity.GanKSearchActivity"/>
        <activity android:name=".view.activity.MyKnowledgeActivity"/>
        <activity android:name=".view.activity.KnowledgeImageActivity"/>
    </application>


</manifest>
