<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ycbjie.zhihu" >

    <application
        android:name=".ZhiHuApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_zh_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        tools:replace="android:label"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.ycbjie.zhihu.ui.activity.ZhiHuNewsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ycbjie.zhihu.web.activity.WebViewAnimActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ycbjie.zhihu.ui.activity.ZhiHuCommentActivity"/>
        <activity android:name="com.ycbjie.zhihu.ui.activity.ZhiHuThemeListActivity"/>
        <activity android:name="com.ycbjie.zhihu.ui.activity.ZhiHuSectionListActivity"/>
        <activity android:name="com.ycbjie.zhihu.ui.activity.ZhiHuCalendarActivity"/>
    </application>


</manifest>
