<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ycbjie.android" >


    <application>
        <activity android:name=".view.activity.AndroidActivity"/>
        <activity android:name=".view.activity.AndroidDetailActivity"/>
        <activity android:name=".view.activity.AndroidAboutActivity"/>
        <activity android:name=".view.activity.AndroidLoginActivity"/>
        <activity android:name=".view.activity.AndroidSearchActivity"/>
        <activity android:name=".view.activity.KnowledgeTreeDetailActivity"/>
        <activity android:name=".view.activity.NavWebsiteActivity"/>
        <activity android:name=".view.activity.AndroidCollectActivity"/>
        <activity android:name=".view.activity.AndroidRegisterActivity"/>
        <activity android:name=".view.activity.CollectNetActivity"/>
    </application>




</manifest>
